* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BPG SF DG";
  src: url(./fonts/BPG\ SF\ DG.ttf) format("truetype");
}

body {
  background-color: #2e3a47;
  font-family: "BPG SF DG";
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #010203;
  color: #ffd700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  height: 88px;
  margin: 10px 11px;
  border-radius: 11px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 23px 88px 23px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.card {
  background-color: #49ff4a;
  border: 1px solid #010203;
  width: 30%;
  max-width: 222px;
  height: auto;
  padding-bottom: 100%; /* This ensures the card is square */
  position: relative;
}

.card-1,
.card-2,
.card-3 {
  width: 333px;
  height: 400px;
  border: 2px solid #49ff4a;
  border-radius: 11px;
}

img {
  width: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 2px solid #49ff4a;
}

.title {
  text-align: center;
  color: #49ff4a;
  margin-top: 11px;
  background-color: #010203;
  padding: 3px 0px;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.p {
  text-align: center;
  margin: 11px;
  background-color: red;
}

.img {
  width: 139px;
  height: 139px;
  border: none;
  background-color: #010203;
  border-radius: 25%;
  margin-top: 11px;
  cursor: pointer;
}

.img:hover {
  opacity: 0.4;
}

.premium {
  border-color: #ffd700;
  color: #ffd700;
}

.premiumbtn {
  border-radius: 25%;
}

.pass {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}

strong {
  font-family: Arial;
}

@media all and (max-width: 948px) {
  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 255px;
    height: 300px;
    border-radius: 11px;
  }

  .img {
    width: 100px;
    height: 100px;
    border: none;
    background-color: #010203;
    border-radius: 25%;
    margin-top: 11px;
    cursor: pointer;
  }

  .title {
    font-size: 11px;
  }

  .nav {
    padding: 11px;
  }
}
